.container {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, #d2001d, #7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.pedido-box {
    width: 400px;
    padding: 50px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 30px;
    width: 300px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6)
}

.buttonsub {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 30px;
    width: 60px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    position: relative;
    top: -20%;
    transform: translateY(20%);
}